body {
    margin: 0;
}
/* Nav Styles */
.ct-nav{
    display: flex;
    justify-content: space-between;
}

/* Main Logo */
.ct-nav img{
    width: 12%;
    max-width: 100%;
    margin-left: 2vw;
    border-radius: 45%;
}

ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color: black;
}

ul#horizontal-list a:nth-last-child(1){
    border: 2px solid orange;
    border-radius: 11px;
    margin-right: 0.2vw;
}

/* Start of header section */
#header-text{
    padding: 2vw;
    color: white;
    text-align: left;
    margin-top: 15vh;
}

.header-image{
    height: 65%;
    background-size:cover;
    
}
/* End of header section */

/* start of middle section */
#middle_text{
    text-align: center;
    /* padding: 1vh; */
    /* margin-top: 5%; */
}

#middle_text h2{
    padding: 1.5vh
}
/* end of middle section */

/* start of features */
#car_options-image, #analytics-image{
    margin-bottom: 10vh;
    height: 40vh;
}

#features-section{
    margin: 2vw;
}

/* footer begins*/
.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

#social_media-image{
    width: 100%;
    margin-top: 20vh;
}

#footer{
    border-top: 3px solid rgb(228, 157, 52);
    margin-top: 20vh;
}

.hero-section{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(107, 107, 105, 0.781), rgba(214, 180, 85, 0.678)),url(../images/undraw_order_a_car_3tww\ \(1\).png);
    background-size: cover;
    background-position: 30% 95%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;
}

.header-text{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    left: 20rem;
    top: 10rem;
    color: white;
}