{% extends 'base.html' %} 

{% block content %}

<header class="hero-section">
    <h3 class="header-text"></h3>
</header>

<div class="container">
    <h3>Welcome to Our Selling and Trading Section!</h3>
    <p>Interested in selling or trading your vehicle?</p>
    <ul class="list-group">
        <li class="list-group-item"> Get a quote and find out how much your vehicle is worth and email: test@gmail.com</li>
        <li class="list-group-item">Token: A token will eventually appear here</li>
    </ul>
</div>


{% endblock content %}